# Token del bot de Discord
DISCORD_TOKEN=

# ID de la aplicación/bot de Discord
+CLIENT_ID=

# ID del servidor de Discord donde se registrarán comandos en desarrollo
# Esto solo es necesario si quieres que los comandos se registren en un servidor especifico y de forma rapida para desarollo
GUILD_ID=

# Webhook para enviar errores automáticamente a un canal de Discord
# Opcional, sirve para todo tipo de logs no solo errores en realidad
# Podrias modificar la funcion logger.ts para añadir webhook para success, warn, info etc
ERROR_WEBHOOK_URL=

# Entorno de ejecución
# development = desarrollo
# production = producción
NODE_ENV=development

# Sincroniza automáticamente los modelos con la base de datos
# true = crea tablas si no existen
DB_SYNC=false

# Modifica las tablas existentes si cambian los modelos
# Útil en desarrollo pero peligroso en producción
DB_SYNC_ALTER=false

# Fuerza eliminar y recrear todas las tablas
# ⚠️ BORRA TODOS LOS DATOS
DB_SYNC_FORCE=false
